.create_button {
    display: flex;
    margin-top: 3vh;
    align-items: center;
}

.create_affix {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    position: fixed;
    padding: auto;
    margin: auto;
    width: 25vw;
    height: 100vh;
    background: #3498db;
}

.create_content {
    margin-left: 25vw;
    width: 75vw;
}

.create_title {
    display: inline-flex;
    width: 10rem;
    margin-top: 1.5rem;
}

.create_statistic {
    margin-top: 3vh;

}

.create_datePicker {
    display: inline-block;
}

.create_title_div {
    display: flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    margin: auto auto 0.5rem;
}
.creat_data_div{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    margin: auto auto 0.5rem;
}
.create_title_span{
    display: inline-flex;
}

.create_divider {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.create_submit_button {
    float: right;
    margin-left: 1rem;
    margin-right: 1rem;
    display: inline-block;
}

.create_buttons {
    height: 5rem;
}